<%= form_for @game, html: { multipart: true } do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
        </br>
      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><h1>Add a New Game</h1></p>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :about %>
    <%= f.select :about, ['Sports Game', 'Action Game', 'Stealth Game', 'Horror Game', 'Thriller Game', 'RPG game']%>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, ['1', '2', '3', '4', '5']%>
  </div>

  <div class="field">
    <%= f.label :age_group %>
   <%= f.select :age_group, ['PG', '12', '15', '18']%>
  </div>
 <div class="field">
    <%= f.label :image %>
   <%= f.file_field :image %>
  </div>

  <div class="actions">
   <%= f.submit "Create New Game", class: "btn btn-primary" %>
  </div>
<% end %>
