<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Game Reviews", root_path, id: "logo" %>
          
        <nav>
          <ul class="nav navbar-nav navbar-right">
                <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Add", add_path %></li>
              
            <% if logged_in? %>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              <li class="dropdown">
                
            
                  
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>